/CSharp/HttpWorker/.vs/*
/CSharp/HttpWorker/CSharpHttpWorker/bin/*
/CSharp/HttpWorker/CSharpHttpWorker/obj/*
/CSharp/HttpWorker/CSharpHttpWorker/CSharpHttpWorker.csproj.user
/go/src/httpServer/helloworldServer.exe
/node/node_modules/*
/go/functions/go/*.exe
/functions/*.exe
/functions/bin/*
/functions/*.csproj
/functions/obj/*
/CSharp/HttpWorker/CSharpHttpWorker/Properties/PublishProfiles/*
